body {
    background-color: #212529;
    overflow-x: hidden;
}



/* 사이트 헤더 */
header {
    position: fixed;
    z-index: 10;
    width: 100%;
}

.container-fluid {
    height: 60px;
    padding: 0px 50px 0px 50px;
}

.navbar-brand {
    color: red;
    font-weight: bolder;
    font-size: 35px;
    cursor: pointer;
}

.navbar-brand:hover {
    color: red;
}



/* 사이트 메인 */
.main {
    padding-top: 90px;
    min-height: 81vh;
}



/* 영화 슬라이드 박스 (main) */
.movie_slide {
    width: auto;
    height: auto;
    padding: 2% 23% 3% 23%;
    border-bottom: 1px solid white;
}

.slide_box {
    border: 10px solid #212529;
    height: auto;
}

.carousel-item>img {
    height: 450px;
    border-radius: 10px;
}



/* 영화 카드 박스 (main) */
.movie_card_box {
    padding: 1% 5% 3% 5%;
    display: flex;
    border-bottom: 1px solid #fff;
    min-height: 55vh;
}

.card {
    padding: 25px 25px 25px 25px;
    margin: 30px;
    border: 1px solid white;
    border-radius: 4px;
    background: #fff;
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.card>img {
    cursor: pointer;
}

/* 중복 클릭 막기 위한 CSS */
.disable-pointer {
    pointer-events: none;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 12rem;
    padding: 0.5rem 0 0 0;
}

.card-title {
    height: 27%;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.genre {
    display: flex;
    flex-wrap: wrap;
}

.vote_rate {
    margin-top: auto;
    margin-bottom: 0px;
}

.color_28 {
    background-color: #D32F2F;
}

/* 액션 */
.color_12 {
    background-color: #388E3C;
}

/* 어드벤처 */
.color_16 {
    background-color: #1976D2;
}

/* 애니메이션 */
.color_35 {
    background-color: #FBC02D;
}

/* 코미디 */
.color_80 {
    background-color: #303F9F;
}

/* 범죄 */
.color_99 {
    background-color: #616161;
}

/* 다큐 */
.color_18 {
    background-color: #283593;
}

/* 드라마 */
.color_10751 {
    background-color: #81C784;
}

/* 가족 */
.color_14 {
    background-color: #7B1FA2;
}

/* 판타지 */
.color_36 {
    background-color: #5D4037;
}

/* 역사 */
.color_27 {
    background-color: #424242;
}

/* 공포 */
.color_10402 {
    background-color: #E53935;
}

/* 음악 */
.color_9648 {
    background-color: #6A1B9A;
}

/* 미스터리 */
.color_10749 {
    background-color: #EC407A;
}

/* 로맨스 */
.color_878 {
    background-color: #B0BEC5;
}

/* SF */
.color_10770 {
    background-color: #64B5F6;
}

/* TV영화 */
.color_53 {
    background-color: #C62828;
}

/* 스릴러 */
.color_10752 {
    background-color: #6E6E3D;
}

/* 전쟁 */
.color_37 {
    background-color: #FF8F00;
}

/* 서부극 */

[class^="color_"] {
    border-radius: 5px;
    padding: 7px 10px 7px 10px;
    margin-right: 10px;
    color: white;
    margin-top: 10px;
    height: 37px;
}




/* 커스텀 마우스 커서 (뭔가 조잡해서 포기) */
#cursor {
    position: absolute;
    z-index: 999;
    width: 25px;
    height: 25px;
    background: yellow;
    border-radius: 50%;
    border: 1px solid black;
    pointer-events: none;
    /* 마우스 이벤트가 다른 요소에 영향을 주지 않도록 */
    transition: width 0.4s, height 0.4s, background 0.5s;
    /* 부드러운 전환 효과 */
    display: none;
    /* 초기에는 숨김 */
}



/* 페이지네이션 박스 */
.pagination_box {
    margin: 3% auto 3% auto;
    /* background-color: green; */
}

.page-item {
    cursor: pointer;
}

#page_item_group {
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
}



/* 모달 창 */
#modal_body {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    height: 37rem;
}

.modal_left_box {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 5;
    grid-column-end: 3;
}

.movie_poster {
    width: 100%;
    height: 100%;
}

.detail_poster {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


.modal_right_box {
    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 5;
    grid-column-end: 6;

    overflow-y: auto;
}

.modal_right_box>div {
    padding: 10px;

}

.movie_title {
    height: auto;
    background-color: #DF5D76;
    grid-row-start: 1;
    grid-column-start: 1;

    grid-row-end: 2;
    grid-column-end: 4;
}

.movie_title_kr {
    font-size: 170%;
}

.movie_genre {
    height: auto;
    background-color: #ED9DA5;
    grid-row-start: 2;
    grid-column-start: 1;

    grid-row-end: 3;
    grid-column-end: 4;

    display: flex;
    align-items: center;
}

.movie_genre>span {
    margin: 10px 0px 10px 0px;
}

.movie_cast {
    height: auto;
    background-color: #5C6E9D;
    grid-row-start: 3;
    grid-column-start: 1;

    grid-row-end: 4;
    grid-column-end: 4;
}

.movie_overview {
    height: auto;
    background-color: #95AF6F;
    grid-row-start: 4;
    grid-column-start: 1;

    grid-row-end: 5;
    grid-column-end: 4;
}

.movie_youtube_link {
    height: auto;
    background-color: #6fadaf;
    grid-row-start: 5;
    grid-column-start: 1;

    grid-row-end: 6;
    grid-column-end: 4;
}

.movie_review {
    height: auto;
    background-color: #b66eb0;
    grid-row-start: 6;
    grid-column-start: 1;

    grid-row-end: 7;
    grid-column-end: 4;
}

.movie_review_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review_list_left {
    display: block;
}

.review_img_name_date {
    display: flex;
    align-items: center;
    width: auto;
}

.review_img_box {
    margin-right: 3%;
}

.commenter_img {
    width: 4vw;
    height: 8vh;
}

.review_name_date {
    width: 20vw;
}

.review_name_date>p {
    margin-top: 0;
    margin-bottom: 0;
}

.review_content {
    padding-left: 3%;
}

.review_list_right {
    display: flex;
}

.update_btn {
    margin-right: 1vw;
}



/* Top 이동 버튼 */
#move_top_btn {
    position: fixed;
    bottom: 4.8rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    background: #000000;
    border: 1px solid white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
}

#move_top_btn:hover {
    transform: scale(1.2);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
    color: black;
    background-color: white;
}



/* Bottom 이동 버튼 */
#move_bottom_btn {
    position: fixed;
    bottom: 0.8rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    background: #000000;
    border: 1px solid white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
}

#move_bottom_btn:hover {
    transform: scale(1.2);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
    color: black;
    background-color: white;
}



/* 바닥 Footer */
footer {
    background-color: rgb(59, 59, 59);
    height: 150px;
}